.hero {
  padding: 188px 0;
  text-align: center;
  background-color: #2e2f42;
}

.hero-title {
  width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.hero-button {
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
